:root{
    --body-background:#e7e3d4;
    --section-background:#3b8beb;
    --elements-background: #b23850;
    --text-color:white;
    --box-shadow:0 17px 50px 0 rgba(3, 2, 44, 0.19), 0 12px 15px 0 rgba(8, 5, 59, 0.24);
}



*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    min-width: calc(100vw - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    background-color: var(--body-background);
    color: var(--text-color);
    flex-direction: column;
}

.section{
    margin-top: 3%;
    width: 85%;
    background-color: var(--section-background);
    text-align: center;
    padding: 80px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.section:last-child{
    margin-bottom: 2%;
}



.page-title {
    min-height: 100px;
    font-size: 2.4vw;
    padding: 20px 0px;
    background-color: var(--elements-background);
    box-shadow: var(--box-shadow);
    /* box-shadow: 10px 10px #656174; */


}

.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 8%;
    padding: 40px 0px;
    background-color: var(--elements-background);
    box-shadow: var(--box-shadow);
}

.info h3{
    font-size: 2.3vw;
}

.info h4{
    font-size: 1.9vw;
}

.info .pic{
    /* height: 330px; */
    overflow: hidden;
    width: 35%;
    border-radius: 38%;
}

.info img{
    width: 100%;
}

.to{
    margin-top: 5%;
    padding: 20px 0px;
    background-color: var(--elements-background);
    box-shadow: var(--box-shadow);

}

.to h1{
    font-size: 3vw;
    
}

.section-2{
    text-align: left;
}

.section p{
    /* padding-left: 20px; */
    margin-top: 1%;
    line-height: 2rem;
    font-size: 1.5vw;
}

.section ol{
    font-size: 1.5vw;
    padding-left: 40px;
    line-height: 2rem;
    font-weight: bold;
}

.section-2 .project-title{
    text-align: center;
    padding: 20px;
    background: var(--elements-background);
}

.section .text-container{
    padding: 30px 20px;
    margin-top: 5%;
    background-color: var(--elements-background);
}

.section-3{
    text-align: left;
}


@media only screen and (max-width: 600px)
{
    /* .info .pic{
        height: 250px;
        width: 20%;
    } */
    .section {
        /* flex-direction: column; */
        width: 98%;
        padding: 30px 10px;
        margin-top: 5%;

    }

    .info {
        flex-direction: column;
        align-items:center
    }

    .info .pic {
        margin-top: 3%;
    }
    h1{
        font-size: xx-large;

    }
    h3{
        font-size: x-large !important;
    }
    h4{
        font-size: large !important;
    }
    p{
        font-size: 3.5vw !important;
    }
    ol{
        font-size: 3.5vw !important;
    }




}